.suggestion_cont{
margin-left: 25px;
width: 325px;
height: 290px;
margin-top: 25px;
}

.suggestion_head{
font-weight: bold;
color: #8e8e8e;
}

.suggestion_body{
width: 256px;
height: 290px;
margin-top: 10px;
}

.suggestion_friends{
display: flex;
padding: 5px 0px;
}
.suggestion_img{
max-width: 35px;
max-height: 35px;
}
.suggestion_username{
font-weight: bold;
margin: 10px;
}