.navbar{
    height:54px;
    background: white;
    border-bottom: 1px solid #dbdbdb;
}

.nav_logo{
    margin-top: 8px;
}

.nav_img{
    margin:15px 10px;
}

.nav_search{
    height:25px;
    width:215px;
    margin-top:10px;
    border:1px solid #dbdbdb;
    text-align: center;
    background: #fafafa;
    border-radius: 5px;
}