.post_container{
width:615px;

border:1px solid #dbdbdb;
background: white;


}
.post_header{
height: 60px;
border-bottom: 1px solid #dbdbdb;
display:flex;
}
.post_avt{
min-width: 30px;
min-height: 30px;
margin: 10px;
}
.post_user{
font-weight: bold;
margin-top: 15px;
}

.post-react-image{
    width:25px;
    height: 25px;
    margin:5px;
}

.post_comment{
margin:10px;

}
.commentBox{
    height: 56px;
    width: 601px;
    border: 1px solid #dbdbdb;
    font-size: 16px;
    padding-left: 10px;
}
