.info_cont{
    width:300px;
    height:56px;
    margin-top: 25px;
    margin-left:25px;
    display: flex;
}

.info_img{
    min-width: 60px;
    min-height: 60px;
}

.info_content{
margin-left: 20px;
}
.info_user{
    margin:5px;
}

.info_desc{
    margin: 5px;
}